<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <h1>Hola mundo</h1> -->

<app-header></app-header>
<div class='container m-5'>
    <app-body></app-body>

</div>


<ul>
    <li>Nombre: {{nombre}}</li>
    <!-- interpolacion -->
    <li>Apellido: {{apellido}}</li>
</ul>

<app-footer></app-footer>